html {
    background: #1e1e1e;
    overflow: hidden;
    touch-action: manipulation;
}

#cookie {
    width: 250px;
    height: 250px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #1e1e1e;
    transition: transform 0.3s ease-in-out;
}

#cookie:hover {
    transform: scale(1.05);
    cursor: pointer;
    opacity: 90%;
}

#num {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    text-align: center;
}
